INFO in AMI Lifecycle {{vars['operator']}} event for branch: {{vars['stack_tag']}}

The lifecyle id for this request is: {{vars['lifecycle_id']}}

The specific info message is referenced below:

------------------------------------------------------------

{{vars['info_message']}}

------------------------------------------------------------

You can check the status of AMI Lifecycle progression via the Status API URL linked below:

{{vars['status_url']}}